.modal_container {
  width: 328px;
  height: 545px;
  padding: 9px 0px 10px 0px;
  position: absolute;
  right: 30px;
  top: 0;
  margin-top: 4rem;
  background: #fff;
  box-shadow: 0 1px 5px rgb(0 0 0 / 28%);
  border-radius: 5px;
  /* z-index: 2; */
  cursor: default;
}
.row1 {
  flex-wrap: wrap;
  direction: rtl;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal_a {
  cursor: pointer;
}
.bitbarg-services-bg-profile {
  width: 70px;
  height: 70px;
  margin: 0px 8px;
}
.modal_service_title {
  text-align: center;
  font-size: 12px;
  text-decoration: inherit;
  font-family: inherit;
  color: #202124;
}
