@font-face {
  font-family: "IRANSansWeb";
  src: local("IRANSansWeb"), url(./assets/fonts/IRANSansWeb.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "IRANSansWeb_Light.eot";
  src: local("IRANSansWeb_Light"),
    url(./assets/fonts/IRANSansWeb_Light.eot) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "IRANSansWeb_Light";
  src: local("IRANSansWeb_Light"),
    url(./assets/fonts/IRANSansWeb_Light.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "IRANSansWeb_Medium";
  src: local("IRANSansWeb_Medium"),
    url(./assets/fonts/IRANSansWeb_Medium.woff) format("woff");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
